<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleDisplayName</key>
  <string>RIZQ</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
    <key>UISceneConfigurations</key>
    <dict/>
  </dict>
  <key>UILaunchScreen</key>
  <dict>
    <key>UIColorName</key>
    <string>LaunchBackground</string>
  </dict>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>NeonHost</key>
  <string>ep-green-fire-af4a3sg5-pooler.c-2.us-west-2.aws.neon.tech</string>
  <key>NeonApiKey</key>
  <string>napi_2m9gx9eitpwd0l9czvr1fy66e02tckof56gp146poj5t6itagz6wozvbcln3sm1o</string>
  <key>NeonProjectId</key>
  <string>ep-green-fire-af4a3sg5</string>
  <key>NeonDatabaseUrl</key>
  <string>postgresql://neondb_owner:npg_xSNUHB6wyQW5@ep-green-fire-af4a3sg5-pooler.c-2.us-west-2.aws.neon.tech/neondb?sslmode=require</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.rizq.app</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>rizq</string>
      </array>
    </dict>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>com.googleusercontent.apps.989470707680-0591rq9b8b9cmtbn98r0f783c483v4sn</string>
      </array>
    </dict>
  </array>
  <key>UIAppFonts</key>
  <array>
    <string>CrimsonPro-Regular.ttf</string>
    <string>CrimsonPro-Medium.ttf</string>
    <string>CrimsonPro-SemiBold.ttf</string>
    <string>CrimsonPro-Bold.ttf</string>
    <string>PlayfairDisplay-Regular.ttf</string>
    <string>PlayfairDisplay-Medium.ttf</string>
    <string>PlayfairDisplay-SemiBold.ttf</string>
    <string>PlayfairDisplay-Bold.ttf</string>
    <string>Amiri-Regular.ttf</string>
    <string>Amiri-Bold.ttf</string>
    <string>JetBrainsMono-Regular.ttf</string>
    <string>JetBrainsMono-Medium.ttf</string>
  </array>
</dict>
</plist>
